<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
	<long name="AutospeedSensitivity" value="100" />
	<long name="ButtonCompassModeRightZoom" value="5120" />
	<long name="ButtonMenuBoxes" value="4" />
	<long name="ButtonMenuSafety" value="25" />
	<long name="ButtonMenuScanTime" value="0" />
	<long name="ButtonModeNonuniformity" value="0" />
	<long name="CirclePercent" value="10" />
	<long name="ClickMaxZoom" value="200" />
	<long name="DasherFontSize" value="22" />
	<long name="DemoNoiseMag" value="325" />
	<long name="DemoNoiseMem" value="100" />
	<long name="DemoSpring" value="100" />
	<long name="DynamicButtonLag" value="50" />
	<long name="DynamicSpeedDec" value="8" />
	<long name="DynamicSpeedFreq" value="10" />
	<long name="DynamicSpeedInc" value="3" />
	<long name="FrameRate" value="3200" />
	<long name="GameHelpDistance" value="1920" />
	<long name="GameHelpTime" value="0" />
	<long name="Geometry" value="0" />
	<long name="HoldTime" value="1000" />
	<long name="LMAlpha" value="49" />
	<long name="LMBeta" value="77" />
	<long name="LMExclusion" value="0" />
	<long name="LMMaxOrder" value="5" />
	<long name="LMMixture" value="50" />
	<long name="LMUpdateExclusion" value="1" />
	<long name="LanguageModelID" value="0" />
	<long name="LineWidth" value="1" />
	<long name="MarginWidth" value="300" />
	<long name="MaxBitRateTimes100" value="80" />
	<long name="MessageFontSize" value="14" />
	<long name="MessageTime" value="2500" />
	<long name="MinNodeSize" value="50" />
	<long name="MousePositionBoxDistance" value="50" />
	<long name="MultipressTime" value="1000" />
	<long name="NodeBudget" value="3000" />
	<long name="NonLinearX" value="5" />
	<long name="OutlineWidth" value="0" />
	<long name="PYProbabilitySortThreshold" value="85" />
	<long name="RenderStyle" value="1" />
	<long name="ScreenOrientation" value="-2" />
	<long name="SlowStartTime" value="1000" />
	<long name="SmoothTau" value="250" />
	<long name="SocketInputXMaxTimes1000" value="1000" />
	<long name="SocketInputXMinTimes1000" value="0" />
	<long name="SocketInputYMaxTimes1000" value="1000" />
	<long name="SocketInputYMinTimes1000" value="0" />
	<long name="SocketPort" value="20320" />
	<long name="Static1BTime" value="2000" />
	<long name="Static1BZoom" value="8" />
	<long name="TapTime" value="200" />
	<long name="TargetOffset" value="0" />
	<long name="TextPadding" value="0" />
	<long name="TwoButtonOffset" value="1638" />
	<long name="TwoPushLong" value="512" />
	<long name="TwoPushOuter" value="1792" />
	<long name="TwoPushShort" value="80" />
	<long name="TwoPushTolerance" value="100" />
	<long name="UniformTimes1000" value="50" />
	<long name="UserLogLevelMask" value="0" />
	<long name="WordAlpha" value="50" />
	<long name="XLimitSpeed" value="800" />
	<long name="YScaling" value="0" />
	<long name="Zoomsteps" value="32" />
	<bool name="AutoSpeedControl" value="true" />
	<bool name="Autocalibrate" value="false" />
	<bool name="BackoffButton" value="true" />
	<bool name="CircleStart" value="false" />
	<bool name="CopyOnStop" value="false" />
	<bool name="CurveMouseLine" value="false" />
	<bool name="DrawMouse" value="true" />
	<bool name="DrawMouseLine" value="true" />
	<bool name="ExactDynamics" value="false" />
	<bool name="GameDrawPath" value="true" />
	<bool name="GlobalKeyboard" value="false" />
	<bool name="LMAdaptive" value="true" />
	<bool name="NonlinearY" value="true" />
	<bool name="PaletteChange" value="false" />
	<bool name="PauseOutside" value="false" />
	<bool name="RemapXtreme" value="false" />
	<bool name="SimulateTransparency" value="false" />
	<bool name="SlowControlBox" value="true" />
	<bool name="SlowStart" value="false" />
	<bool name="SmoothDrawMouse" value="false" />
	<bool name="SmoothDrawMouseLine" value="false" />
	<bool name="SmoothOnlyForward" value="true" />
	<bool name="SmoothPressMode" value="true" />
	<bool name="SocketInputDebug" value="false" />
	<bool name="SpeakOnStop" value="false" />
	<bool name="SpeakWords" value="false" />
	<bool name="StartOnLeft" value="true" />
	<bool name="StartOnMousePosition" value="false" />
	<bool name="StartOnSpace" value="false" />
	<bool name="TurboMode" value="true" />
	<bool name="TwoButtonInvertDouble" value="false" />
	<bool name="TwoButtonReverse" value="false" />
	<bool name="TwoPushReleaseTime" value="false" />
	<string name="Alphabet1" value="" />
	<string name="Alphabet2" value="" />
	<string name="Alphabet3" value="" />
	<string name="Alphabet4" value="" />
	<string name="AlphabetID" value="" />
	<string name="Button0" value="" />
	<string name="Button1" value="" />
	<string name="Button10" value="" />
	<string name="Button2" value="" />
	<string name="Button3" value="" />
	<string name="Button4" value="" />
	<string name="ColourID" value="" />
	<string name="DasherFont" value="" />
	<string name="GameTextFile" value="" />
	<string name="InputDevice" value="Mouse Input" />
	<string name="InputFilter" value="Normal Control" />
	<string name="JoystickDevice" value="/dev/input/js0" />
	<string name="SocketInputXLabel" value="x" />
	<string name="SocketInputYLabel" value="y" />
</settings>
